label.label {
  display: block;
  width: 100%;
  max-width: 300px;

  margin: 0 auto;
}

input.input {
  display: block;
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  line-height: 1;
  padding: 3px;
  margin: 0 auto;

  &:focus,
  &:focus-visible,
  &:focus-within {
    border-color: var(--color-bg-light-blue);
    outline: 2px solid var(--color-bg-light-blue);
  }

  &.valid {
    border-color: var(--color-green);
    outline: none;

    &:focus,
    &:focus-visible,
    &:focus-within {
      border-color: var(--color-green);
      outline: 2px solid var(--color-green);
    }
  }

  &.invalid {
    border-color: var(--color-red);
    outline: 1px solid var(--color-red);

    &:focus,
    &:focus-visible,
    &:focus-within {
      border-color: var(--color-red);
      outline: 2px solid var(--color-red);
    }
  }
}

input.submit {
  border-radius: 0;

  display: block;
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--color-gray);

  margin: 0 auto;
}

small.errMessage {
  display: block;
  width: 100%;
  max-width: 300px;
  color: var(--color-red);
  font-size: 0.95rem;
  margin: 0 auto;
  margin-bottom: 20px;
}
