label.label {
  display: block;
  width: 100%;
  max-width: 300px;

  margin: 0 auto;
}

input.input {
  display: block;
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;

  margin: 0 auto;

  &:last-child {
    margin-bottom: 0;
  }
}

input.submit {
  border-radius: 0;

  display: block;
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--color-gray);

  margin: 0 auto;
}

small.errMessage {
  display: block;
  width: 100%;
  max-width: 300px;
  color: var(--color-red);
  font-size: 0.95rem;
  margin: 0 auto;
  margin-bottom: 20px;
}
