.layout .container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.layout .content {
  padding-left: 20px;
  padding-right: 20px;
}

.layout header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background: var(--color-light-blue);
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-dark-blue);
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-bg-light-blue);
  font-size: 1em;
  overflow: hidden;
}

.layout header h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-h1);
  font-weight: bold;
  width: var(--header-title-width);
  height: var(--header-title-height);
  line-height: var(--header-title-height);
  text-align: left;
  padding-left: 15px;

  @media (min-width: 550px) {
    padding-left: 20px;
  }
}

.layout header h1 a {
  display: block;
  height: 100%;
}

.layout header .headerTopArea {
  width: calc(var(--max-width) - var(--header-title-width));
}

.layout header nav {
  width: 100%;
}

.layout header nav ul {
  display: flex;
  height: var(--header-nav-height);
  align-items: center;
  text-align: center;
}

.layout header nav ul li {
  display: block;
  width: 20%;

  a {
    display: flex;
    align-items: center;
    height: var(--header-nav-height);

    > span {
      display: block;
      width: 100%;
      line-height: 1.5em;
      height: 1.5em;
      border-right: 1px solid var(--color-bg-light-blue);
    }
  }

  a:hover {
    color: var(--color-white);
    background-color: var(--color-bg-light-blue);
  }

  &:last-child {
    a > span {
      border-right: none;
    }
  }
}

.layout main {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

.layout main .content {
  padding-top: calc(var(--header-height) + 20px);
  padding-bottom: 50px;
}

.layout footer {
  width: 100%;
  height: max-content;
  color: var(--color-white);
  background: var(--color-bg-light-blue);
  padding: 30px 0;
  overflow: hidden;
}

.layout .footerTopLinkBox {
  width: 100%;
  height: var(--footer-top-link-height);
  line-height: 1;
  padding: 20px 0;

  text-align: center;
  color: var(--color-white);
  background: var(--color-bg-dark-blue);
}

.layout footer .container {
  margin: 0 auto;

  @media (min-width: 501px) {
    width: max-content;
    margin: 0 auto;
  }
}

.layout footer .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;

  @media (min-width: 350px) {
    padding: 0 40px;
  }

  @media (min-width: 425px) {
    padding: 0 50px;
  }

  @media (min-width: 470px) {
    padding: 0 55px;
  }

  @media (min-width: 501px) {
    width: 100%;
    padding: 0;
  }

  @media (min-width: 581px) {
    padding: 0 30px;
  }
}

.layout footer ul {
  @media (min-width: 501px) {
    display: block;
    list-style-type: none;
    width: initial;
  }
}

.layout footer ul li {
  margin-left: 1.5em;
  font-size: 1rem;
  line-height: 1.8;

  &::before {
    content: '◆';
    display: inline-block;
    font-size: 0.6em;
    margin-right: 2.5px;
    line-height: 1.8;
    user-select: none;
  }

  @media (min-width: 501px) {
    display: block;
    list-style: none;
  }
}

.layout footer .footerMenu + .footerMenuSpace {
  height: 20px;

  @media (min-width: 501px) {
    width: 10px;
    height: 100px;
  }

  @media (min-width: 581px) {
    width: 30px;
  }

  @media (min-width: 631px) {
    width: 8vw;
  }

  @media (min-width: 701px) {
    width: 70px;
  }
}

.layout footer .footerMenu {
  padding-left: 5px;
  padding-bottom: 15px;

  @media (min-width: 501px) {
    padding: 0;
  }
}

.scrollLink {
  cursor: pointer;
}
